:root {
  --player-one: hsl(0, 100%, 50%);
  --player-two: hsl(0, 0%, 0%);
  --font-color: hsl(0, 0%, 100%);
  --win-message: hsl(240, 100%, 27%);
  --background: hsl(0, 0%, 83%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
  color: var(--font-color);
}
.title {
  margin-left: 30rem;
  margin-top: 5%;
  color: hsl(0, 0%, 0%);
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-left: 10%;
}
.player-number,
.count {
  font-size: 2.5rem;
  margin-left: 5.5rem;
}
.hit-btn,
.hold-btn,
.reset-btn {
  font-size: large;
  width: 10rem;
  margin: 0 0 0.5rem 5.5rem;
}
.hit-btn,
.hold-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem;
  margin: 5rem 0 0 5rem;
  color: hsl(0, 100%, 50%);
  background: hsl(210, 14%, 53%);
}
.hit-btn:hover,
.hold-btn:hover {
  background: hsl(210, 14%, 23%);
}
.count {
  font-size: 2rem;
  margin-top: 3.5rem;
}
.player {
  width: 20rem;
  padding-bottom: 1.7rem;
  margin-left: 1rem;

  border-radius: 1.5rem;
}
.player-one {
  background-color: var(--player-one);
  box-shadow: -1.3rem 1.3rem hsl(271, 76%, 53%);
}
.player-two {
  background-color: var(--player-two);
  box-shadow: 1.3rem 1.3rem hsl(240, 100%, 50%);
}
.deck-img {
  display: block;
  width: 20rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 1.5rem;
}
.reset-btn {
  font-size: 2.5rem;
  background: hsl(120, 100%, 25%);
  color: var(--font-color);
  margin-top: 50%;
  border-radius: 25px;
}
.reset-btn:hover {
  color: hsl(120, 100%, 50%);
}
.winner-message {
  margin-left: 34.5rem;
  margin-top: 0.75rem;
  color: hsl(39, 40%, 20%);
}
h2 {
  margin-left: 5rem;
}
.hidden {
  display: none;
}
